/* Scroll reveal base state */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

/* When visible */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


.Text-shadow {
  text-shadow: 2px 2px 4px;
  color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


